# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
local.properties
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/captures/
android/local.properties
android/app/debug
android/app/profile
android/app/release
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar

# iOS
ios/.symlinks/
ios/Flutter/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/.symlinks/
macos/Flutter/ephemeral

# Coverage
coverage/
